<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<a href="/book/new">New Book</a>
<br>
<a href="/author/new">New Author</a>
<!--<br>-->
<!--<a href="/book/showall">List all books</a>-->
<table border="5">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Likes</th>
        <th>Category</th>
        <th>Visible</th>

    </tr>
    <tr th:each="book: ${books}">
        <td th:text="${book.id}">
        </td>
        <td th:text="${book.title}">
        </td>
        <td th:text="${book.likes}">
        </td>
        <td th:text="${book.bookCategory.name}">
        </td>
        <td th:text="${book.mostrar}">

        <td>
            <a th:href="@{/book/}+${book.id}">See</a>
            <a th:href="@{/book/edit/}+${book.id}">Edit</a>
            <a th:href="@{/book/delete/}+${book.id}">Delete</a>
            <a th:href="@{/book/like/}+${book.id}">Like</a>
            <a th:href="@{/book/dislike/}+${book.id}">Dislike</a>

        </td>
    </tr>
</table>
</body>
</html>