<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form action="/book" method="POST">
    <input type="hidden" name="id" th:value="${book.id}">
    <b>Title:</b><input type="text" name="title" th:value="${book.title}">

    <b>Category:</b>
    <select th:field="*{book.bookCategory}">
        <option th:each="bookCategory: ${bookCategories}" th:value="${bookCategory.id}" th:text="${bookCategory.name}"></option>
    </select>

    <b>Author:</b>
    <select th:field="*{book.author}">
        <option th:each="author: ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
    </select>

    <b>Visible?:</b>
    <select th:field="*{book.mostrar}">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>

    <input type="submit" value="Save">
</form>
</body>
</html>